<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/admin">
    <div class="sidebar-brand-icon">
      <i class="fas fa-user"></i>
    </div>
    <div class="sidebar-brand-text mx-3">Admin</div>
  </a>
  <hr class="sidebar-divider my-0" />
  {{#if adminHome}}
  <li class="nav-item active">
    <a class="nav-link" href="/admin">
      <i class="fas fa-home"></i>
      <span>Bosh sahifa</span></a>
  </li>
  {{else}}
  <li class="nav-item">
    <a class="nav-link" href="/admin">
      <i class="fas fa-home"></i>
      <span>Bosh sahifa</span></a>
  </li>
  {{/if}}
  {{#if adminUser}}
  <li class="nav-item active">
    <a class="nav-link" href="/admin/users">
      <i class="fas fa-user"></i>
      <span>Foydalanuvchilar</span></a>
  </li>
  {{else}}
  <li class="nav-item">
    <a class="nav-link" href="/admin/users">
      <i class="fas fa-user"></i>
      <span>Foydalanuvchilar</span></a>
  </li>
  {{/if}}
  {{#if adminSubject}}
  <li class="nav-item active">
    <a class="nav-link" href="/admin/subject">
      <i class="fas fa-home"></i>
      <span>Fanlar</span></a>
  </li>
  {{else}}
  <li class="nav-item">
    <a class="nav-link" href="/admin/subject">
      <i class="fas fa-book"></i>
      <span>Fanlar</span></a>
  </li>
  {{/if}}
  {{#if adminPuzzle}}
  <li class="nav-item active">
    <a class="nav-link" href="/admin/puzzle">
      <i class="fas fa-list "></i>
      <span>Boshqotirmalar</span></a>
  </li>
  {{else}}
  <li class="nav-item">
    <a class="nav-link" href="/admin/puzzle">
      <i class="fas fa-home"></i>
      <span>Boshqotirmalar</span></a>
  </li>
  {{/if}}
  {{#if adminMessage}}
  <li class="nav-item active">
    <a class="nav-link" href="/admin/message">
      <i class="fas fa-question"></i>
      <span>Xabarlar</span></a>
  </li>
  {{else}}
  <li class="nav-item">
    <a class="nav-link" href="/admin/message">
      <i class="fas fa-question"></i>
      <span>Xabarlar</span></a>
  </li>
  {{/if}}
  <hr class="sidebar-divider" />

  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>