<section class="main_full inner_page">
  <div class="container-fluid">
    <div class="row">
      <div class="full">
        <h3>{{title}}</h3>
      </div>
    </div>
  </div>
</section>

<section class="layout_padding section about_dottat">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="big-img mb-3">
          <h2>
            {{question.question}}
          </h2>

        </div>
        <form action="/subject/answer/critical/{{question._id}}" method="post" class="user">
          <input type="hidden" name="_csrf" value="{{csrf}}" />
          <input type="hidden" name="subjectId" value="{{subjectId}}" />
          <div class="form-group">
            <label>
              Javobni kiriting
              <input type="text" class="form-control form-control-user mt-1" name="answer"
                placeholder="Javobni kiriting" required />
            </label>
          </div>
          <button type="submit" class="blue_bt border-0">Tekshirish</button>
        </form>
      </div>
      <div class="col-lg-4">
        <div class="side-left">
          {{#if questionCount}}
          <div class="side-left-item">
            <a href="/subject/img/{{subjectId}}">Rasmli boshqotirmalar</a>
          </div>
          {{/if}}
          {{#if textCount}}
          <div class="side-left-item">
            <a href="/subject/text/{{subjectId}}">Matnli boshqotirmalar</a>
          </div>
          {{/if}}
          {{#if matematikCount}}
          <div class="side-left-item">
            <a href="/subject/matematik/{{subjectId}}">Matematik
              boshqotirmalar</a>
          </div>
          {{/if}}
          {{#if topishmoqCount}}
          <div class="side-left-item">
            <a href="/subject/topishmoq/{{subjectId}}">Topishmoqlar</a>
          </div>
          {{/if}}
          {{#if interestCount}}
          <div class="side-left-item">
            <a href="/subject/interest/{{subjectId}}">Qiziqarli savollar</a>
          </div>
          {{/if}}
          {{#if criticalCount}}
          <div class="side-left-item">
            <a href="/subject/interest/{{subjectId}}">Mantiqiy savollar</a>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>