<section class="main_full inner_page">
  <div class="container-fluid">
    <div class="row">
      <div class="full">
        <h3>{{title}}</h3>
      </div>
    </div>
  </div>
</section>
<!-- end section -->

<!-- about section -->
<section class="layout_padding section about_dottat">
  <div class="container">
    <div class="row">
      <div class="col-lg-3"></div>
      <div class="col-lg-6">
        <div class="questions">
          <div class="question">
            {{#if question.type}}
            <p>{{question.question}}</p>
            {{else}}
            <div class="question-img">
              <img src="/{{question.question}}" alt="">
            </div>
            {{/if}}
          </div>
          <div class="answer">
            <form action="/answer/{{question._id}}" method="post" class="user">
              <input type="hidden" name="_csrf" value="{{csrf}}" />
              <input type="hidden" name="qu_id" value="{{qu_id}}" />
              <div class="form-group">
                <label>
                  Javobni kiriting
                  <input type="text" class="form-control form-control-user" name="answer" placeholder="Javobni kiriting"
                    required />
                </label>
              </div>
              <button type="submit" class="btn btn-primary">Tekshirish</button>
            </form>
          </div>
        </div>
      </div>
      <div class="col-lg-5"></div>

    </div>

  </div>
</section>