<section class="main_full inner_page">
  <div class="container-fluid">
    <div class="row">
      <div class="full">
        <h3>{{title}}</h3>
      </div>
    </div>
  </div>
</section>



<section class="layout_padding section about_dottat">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        {{subject }}
        <div class="">
          <div class="subject-img">
            {{!-- <img src="/{{subject.img}}" alt=""> --}}
          </div>
          <div class="subject-title">
            {{name}}
          </div>
          <div class="subject-stitle">

          </div>

        </div>
      </div>
      <div class="col-lg-4">
        <div class="side-left">
          {{#if question}}
          <div class="side-left-item">
            <a href="/subject/img/{{id}}">Rasmli boshqotirmalar</a>
          </div>
          {{/if}}
          {{#if text}}
          <div class="side-left-item">
            <a href="/subject/text/{{id}}">Matnli boshqotirmalar</a>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</section>