<div class="table-responsive">
  <table
    class="table table-bordered"
    id="dataTable"
    width="70%"
    cellspacing="0"
  >
    <thead>
      <tr>
        <th colspan="2">Fan nomi</th>
        <th width="200px" colspan="4" style="text-align: center;">Boshqotirma
          turlari</th>
      </tr>
    </thead>
    <thead>
      <tr>
        <th width="50px">№</th>
        <th>Fan</th>
        <th>Matnli </th>
        <th>Rasmli</th>
        <th>Matematik</th>
        <th>Topishmoq</th>
      </tr>
    </thead>
    <tbody>
      {{#each subject}}
        <tr>
          <td>{{@index}}</td>
          <td><a href="/admin/puzzle/{{_id}}/subject/">
              {{name}}
            </a></td>
          <td>
            <a href="/admin/puzzle/{{_id}}/text/" class="btn btn-primary">
              <i class="fas fa-plus"></i>
            </a>
          </td>
          <td>
            <a href="/admin/puzzle/{{_id}}/puzzleimg/" class="btn btn-primary">
              <i class="fas fa-plus"></i>
            </a>
          </td>
          <td>
            <a href="/admin/puzzle/{{_id}}/matematik/" class="btn btn-primary">
              <i class="fas fa-plus"></i>
            </a>
          </td>
          <td>
            <a href="/admin/puzzle/{{_id}}/topishmoq/" class="btn btn-primary">
              <i class="fas fa-plus"></i>
            </a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>

</div>