<div class="table-responsive">
  <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
    <thead>
      <tr>
        <th>№</th>
        <th>Rasm</th>
        <th>Ismi</th>
        <th>Familiya</th>
        <th>email</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {{#each users}}
      <tr>
        <td>{{increment @index}}</td>
        <td width="60px"><img class="avatar" src="/{{img}}" alt="" /></td>
        <td>{{name}}</td>
        <td>{{lname}}</td>
        <td>{{email}}</td>
        <td width="150px">
          <a href="/admin/users/edit/{{_id}}" class="btn btn-primary">
            <i class="fas fa-eye"></i>
          </a>
          <a href="/admin/users/delete/{{_id}}" class="btn btn-danger">
            <i class="fas fa-trash"></i>
          </a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>